.sidebar {
  flex-basis: 40%;
  box-shadow: 2px 0 2px 0 rgba(0,0,0,.1);
  z-index: 1;
  background-color: #fff;
  padding-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    flex-basis: auto;
    height: 500px;
    overflow: hidden;
  }
}

.searchResults {
  height: 100%;
  overflow-y: auto;
}

.searchResultsEmpty {
  text-align: center;
  margin-top: 15px;
}

.searchBar {
  width: 100%;
  display: flex;
  margin: 15px 0;
  padding: 10px;
}

.searchInput {
  border: 0;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  width: calc(100% - 15px);
  padding: 13px;
  box-sizing: border-box;
  outline: 0;
}